body {
    font-family: var(--main-font);
    background-color: #ffffff;
    color: #333333
}

main {
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    main {
        padding: 10px;
    }
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;

    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;

    padding: 10px 20px;

    transition: background-color 0.3s border 0.3s;
}


.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;

    line-height: 23px;
}

.btn-filled {
    background-color: #ffffff;
    color: #7c3aed;
}

.btn:hover {
    background-color: #7c3aed;
    color: #ffffff;
    border: #7c3aed;
}