.footer {
    background-color: #333333;
    color: #ffffff
}

.footer-content {
    display: flex;

    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.12rem;
}

.footer-nav ul {
    display: flex;
    padding: 0;
    gap: 20px;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.footer-nav strong {
    color: #EDEDED;
    font-size: 20px;
    display: block;
    margin-bottom: 16px;

    font-weight: 400;
}

.footer-nav li a {
    color: #ffffff
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form input {
    display: flex;
    width: 344px;

    padding: 12px 20px;
    color: #AAAAAA;
    border-radius: 30px;
}

.footer-social span {
    display: block;
    margin-bottom: 16px;
}

.footer-social ul {
    display: flex;
    gap: 30px;
    padding: 0;
}

.footer-social ul li a:hover img {
    opacity: 0.6;
}

.footer-copy {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 32px;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 32px;
    }

    .footer-social ul {
        gap: 16px;
    }

    .footer-copy {
        font-size: 16px;
        padding: 20px;
    }
}