.header {
    background-color: #ffffff;
    position: fixed;
    z-index: 999;

    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);

    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.320rem 1.25rem;
}

.logo img {
    height: 48px;
    width: 150px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.6;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}