.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.highlight {
    grid-area: highlight;
    background-image: url(../../images/banners/card_imagem.png);
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../../images/products/tenis2-grid.jpg);
}

.model {
    grid-area: model;
    background-image: url(../../images/products/modelo-grid.jpg);
}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../../images/products/tenis4-grid.jpg);
}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url(../../images/products/tenis1-grid.jpg);
}

.sneaker-gray {
    grid-area: sneaker-gray;
    background-image: url(../../images/products/tenis3-grid.jpg);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-gray";
    gap: 30px;
}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px
}